@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";

$text-dark: #242424;
$text-light: #585858;

$green-dark: #418305;
$green-medium: #5bb006;

$green-bright: #51cd28;
$green-brighter: #69ff33;

$spacing-unit:     30px;

body {
  padding: 0 0 20px 0;
  margin: 0;
  font:18px/1.5 "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //color: #f0e7d5
  color: $text-light;
  font-weight: normal;
  //background: #252525;
  background: #ffffff;
  //background-attachment: fixed !important;
  //background: linear-gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
  //color:#e8e8e8;
  color: $text-dark;
  margin: -60px 0 10px;
  padding-top: 60px;
  font-weight: normal;
}

p, ul, ol, table, pre, dl, blockquote {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.3em;
  margin: -50px 0 0.5em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.65em;
}

h3 {
  font-size: 1.45em;
  color: $text-light;
}

h4, h5, h6 {
  color: $text-dark;
  font-weight: bold;
  margin: -55px 0 0.5em 0;
}

a {
  color: $green-dark;
  text-decoration:none;
  font-weight: bold;

  &:hover {
    color: $green-medium;
  }
  &:focus {
    color: $green-medium;
    outline: none;
  }
}

a.anchor {
  display: none;
  position: absolute;
  margin: -10px 0 -10px -40px;
  padding: 10px 0 10px 0;
  width: 40px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  &::before {
    // Link Symbol Emoji  https://unicode-table.com/en/1F517/
    content: '\01F517';
    color: #999;
    font-size: 19px;
    vertical-align: bottom;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:hover a.anchor {
    display: inline-block;
  }
}

a small {
  font-size:11px;
  color:#555;
  margin-top:-0.6em;
  display:block;
}

ul {
  list-style-type: square;
}

.wrapper {
  max-width: 900px;
  margin: 70px auto 0;
  position: relative;
  padding: 0 20px;
}

section img {
  max-width: 100%;
  border-radius: 5px;
}

blockquote {
  border-left:3px solid $green-medium;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: monospace;
  color: $text-dark;
  font-size: 80%;
  margin: 0 4px;
  padding: 2px 4px;
  border-radius: 5px;
  background: #eeeeee;
  //background: #333;
}

pre {
  padding: 10px 12px;
  background: #333;
  border-radius: 5px;
  border: 1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(black, .3);
  overflow: auto;
  overflow-y: hidden;
  font-size: 80%;
  line-height: 1.35em;

  code {
    color: #efefef;
    font-size: inherit;
    background: transparent;
    text-shadow: 0 1px 0 black;
    margin: 0;
    padding: 0;
  }

  // table borders:
  u {
    text-decoration: none;
    color: white;
    font-weight: normal;
  }
}

table {
  width: 100%;
  text-align: left;
  color: $text-light;
  border-collapse: collapse;
  border: 1px solid #585858;
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: #333;
    color: #efefef;
    border: 1px solid #333;
  }
  td {
    border: 1px solid #333;
  }
}

#header {
  z-index: 100;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  position: fixed;
  background: url(../images/nav-bg.gif) #353535;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);

  nav {
    max-width: 900px;
    margin: 0 auto;
    background: none;
    font-size: 22px;
    border: none;
    text-align: left;
    flex-wrap: wrap;
    display: flow-root;


    a {
      display: inline-block;
      margin-right: 15px;
      line-height: 55px;
      vertical-align: middle;
      color: $green-bright;
      text-shadow: 0 1px 0 rgba(black, 0.4);
      font-weight: normal;

      &.active {
        color: $green-brighter;
        box-shadow: inset 0 -3px 0 $green-brighter;
      }

      &:hover, &:focus {
        color: $green-brighter;
      }

      &.nu {
        font-size: 1.35em;
        line-height: 1.6em;
        vertical-align: -2px;
        font-family: 'Source Code Pro', monospace;
      }
      &.nu::after {
        content: '>';
        color: white;
      }
    }

    div.right {
      float: right;

      a {
        margin-right: 0;
        margin-left: 15px;
      }

      a.button {
        color: white;
        text-shadow: 0 1px 0 rgba(black, .2);
        border-radius: 5px;
        box-shadow: inset 0 1px 0 rgba(white, .3), 0 3px 7px rgba(black, .7);
        word-spacing: 2px;
        background-color: $green-dark;
        padding: 4px 10px;
        margin-top: 10px;
        font-size: 80%;
        line-height: 1.5em;
        transition: background-color .15s;
  
        &:hover, &:focus {
          color: #fff;
          background-color: $green-medium;
          border-radius: 5px;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

footer {
  font-size: 0.9em;
  font-weight: 400;
  color: #3e3e3e;
  max-width: 900px;
  padding: 0 20px;
  background: none;
  margin: 10px auto;

  .credits {
    font-size: 11px;
    font-weight: normal;
    color: #696969;
    margin-top: -10px;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
  .next{
    float: right;
  }
  .prev{
    float: left;
  }

  .centered {
    text-align: center;
  }
}

section {
  max-width: 900px;
  padding: 30px 0 50px 0;
  margin: 70px 0 20px 0;

  #title {
    border-bottom: 1px solid #aaa;
    margin: 0 0 40px 0;
    padding: 0 0 15px 0;

    h1 {
      font-weight: 300;
      font-size: 3.3em;
      text-align: center;
      line-height: 1em;
      margin: 0.25em 0;
      padding: 0;
    }

    .subheading {
      text-align: center;
      color: #242424;
    }

    hr {
      border: 0 solid #aaa;
      border-bottom-width: 1px;
    }

    p {
      color: #d7cfbe;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
    }

    .credits {
      font-size: 11px;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }

  }
}

.next {
  
  a {
  border-style: solid;
  border-width: 2px;
  border-color: #bbb;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  align-content: center;
  line-height: 50px;
  position: relative;
  margin: 0 auto;
  text-align: right;
  width: 250px;
  padding-right: 15px;
  flex-wrap: wrap;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  }
}

.prev {
  a{
  border-style: solid;
  border-width: 2px;
  border-color: #bbb;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  align-content: center;
  line-height: 50px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  width: 250px;
  padding-left: 15px;
  float: left;
  margin-top: 20px;
  margin-bottom: 10px;
  }
}

.nav_links {
  border: none;
  border-radius: 50px;
}

.lang_sel {
  text-align: center;
  a {
    border-style: solid;
    border-width: 2px;
    border-color: #bbb;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    align-content: center;
    line-height: 50px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 250px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 50px;
  }
  table {
    column-count: 2;
  }
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: url(../images/nav-bg.gif) #353535;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  a {
    padding: 8px 8px 8px 5px;
    text-decoration: none;
    font-size: 25px;
    color: #888888;
    display: block;
    transition: 0.3s;
    font-size: 18px;
    font-weight: normal;
    &:hover {
      color: $green-brighter;
    }
  }
  ol{
    list-style: none;
    a {
      padding: 8px 8px 8px 0px;
      text-decoration: none;
      font-size: 25px;
      color: $green-bright;
      display: block;
      transition: 0.3s;
      font-size: 18px;
      font-weight: normal;
      &:hover, &:focus {
        color: $green-brighter;
      }
    }
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media print, screen and (max-width: 720px) {

  #title {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;

      .left {
        float: none;
        display: block;
      }

      .right {
        float: none;
        display: block;
      }
    }
  }
}

@media (max-width: 600px) {
  #header {
    padding: 0 5px;

    nav {
      font-size: 17px;

      a {
        line-height: 42px;
        margin-right: 9px;
      }
      div.right a.button {
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }
  }
  .no-mobile {
    display: none;
  }
  .lang_sel {
    table {
      column-count: 1;
    }
  }
}

@media print, screen and (max-width: 480px) {
  body {
    font-size: 17px;
  }

  section {
    margin-top: 40px;

    h1 {
      font-size: 1.7em;
    }

    h2 {
      font-size: 1.4em;
    }

    h3 {
      font-size: 1.2em;
    }

    #title h1 {
      font-size: 2.5em;
    }
  }
  #header nav {
    div.right a.button {
      padding: 4px 8px;
    }
  }
}

#list_en {
  display: none;
}
#list_es {
  display: none;
}
#list_ja {
  display: none;
}
#list_pt-BR {
  display: none;
}

#list_en.open {
  display: block;  
}
#list_es.open {
  display: block;  
}
#list_ja.open {
  display: block;  
}
#list_pt-BR.open {
  display: block;  
}
